
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <form #folioForm="ngForm">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="foliotext" id="Foliotext" placeholder="Folio" ngModel required>
                        <label for="Foliotext">Folio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="impresortext" id="ImpresorTex" placeholder="Password" ngModel required>
                        <label for="ImpresorTex">Cat Impresor</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="productotext" id="ProductoText" placeholder="Password" ngModel required>
                        <label for="ProductoText">Cve Producto</label>
                    </div>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"(click)="save(folioForm)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

 