<div class="d-flex flex-column h-100 justify-content-between">

  <app-header></app-header>
  <div class=" d-flex justify-content-center">
    
    <table class="table w-75">
      <thead>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"> Agregar</button>
        <tr>
          <th class="text-center" scope="col">Numero Folio</th>
          <th class="text-center" scope="col">Cat Impresor</th>
          <th class="text-center" scope="col">Cve Producto</th>
          <th class="text-center" scope="col">Fecha</th>
          <th class="text-center" scope="col-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let item of list">
          <th  class="text-center" scope="row">{{item.folio}}</th>
          <td class="text-center" >{{item.catImpresor}}</td>
          <td class="text-center" >{{item.cveProducto}}</td>
          <td class="text-center" >{{item.fecha}}</td>
          <td class="text-center col-2" >
            <div class="d-flex justify-content-center text-center">
              <button type="button" class="btn btn-primary me-3">Modificar</button>
              <button type="button" class="btn btn-danger" (click)="delete(item)">Borrar</button>
            </div>
          </td>
        </tr>
    </table>
  </div>
  <app-modal></app-modal>
  <app-footer></app-footer>
</div>